{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow p-4">

            <h2 class="mb-4 text-center">
                Edit Task
            </h2>

            <form method="POST">

                <div class="mb-3">

                    <label>Task Title</label>

                    <input type="text"
                           name="title"
                           class="form-control"
                           value="{{ task.title }}"
                           required>

                </div>

                <button class="btn btn-primary w-100">
                    Update Task
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}